# Citizenship Docs Project .gitignore

/vendor/
.env
/storage/logs/
/node_modules/
.idea/
PSD/
uploads/

# Add any custom ignore rules for Citizenship Docs below:

# Log files
htdocs/access.log
htdocs/php_errors.log